<section class="text-center py-3 d-flex flex-column align-items-center justify-content-center">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h2 class="fw-bold">CONTACT SECTION</h2>
        <div class="star-icon">
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
    <div class="container my-5">
        <div class="mb-5">
            <input type="text" class="form-control w-75 mx-auto" id="formGroupExampleInput" placeholder="Username">
          </div>
          <div class="mb-5">
            <input type="text" class="form-control w-75 mx-auto" id="formGroupExampleInput2" placeholder="User Age">
          </div>
          <div class="mb-5">
            <input type="email" class="form-control w-75 mx-auto" id="formGroupExampleInput2" placeholder="User Email">
          </div>
          <div class="mb-5">
            <input type="password" class="form-control w-75 mx-auto" id="formGroupExampleInput2" placeholder="User Password">
          </div>
          <button class="btn btn-custom">Send Message</button>
    </div>
</section>