section{
    margin-top:90px;
    color: rgb(44, 62, 80);
}
.star-icon{
    position: relative;
}
.star-icon::after{
    content:"";
    background-color: black;
    width: 80px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: -90px;
    transform: translateY(-50%);
}
.star-icon::before{
    content:"";
    background-color: black;
    width: 80px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: -90px;
    transform: translateY(-50%);
}
.layer-contain{
    position: relative;
    cursor: pointer;
}

.layer-contain:hover .layer{
    opacity: 1;
}
.layer{
    background-color: #1abc9ce6;
    position: absolute;
    top: 0;
    left: 12px;
    bottom: 0;
    right: 12px;
    opacity: 0;
    transition: opacity 500ms;
}
.my-modal{
    background-color: rgba(0, 0, 0, 0.5);
}
.my-modal img{
    width: 500px;
}