<section class="text-white d-flex py-5">
    <div class="container d-flex flex-column justify-content-center align-items-center gap-4">
        <h2>ABOUT COMPONENT</h2>
        <div class="star-icon">
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="row pb-5 text-center">
            <div class="col-md-6 ps-4">
                <p class="ms-md-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.                </p>
            </div>
            <div class="col-md-6 pe-4">
                <p class="me-md-5">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.                </p>
            </div>
        </div>
    </div>
</section>